## ref: [FreeRTOS\-RX231\-CSplus/\.gitignore at master · aquahika/FreeRTOS\-RX231\-CSplus](https://github.com/aquahika/FreeRTOS-RX231-CSplus/blob/master/.gitignore)

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# emacs buackup file
*~

# result files
/DefaultBuild

# Smart Manual
/SmartManual Docs

# setting of CS+
*.mtud
*.rcpe

# Backup files
/trash

# document
*.pptx
*.abs
*.bin
*.clnk
*.map
*.orig

# VScode
.vscode
